.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid darkkhaki;
    background-color: darkslategrey;
}

.choice-container:hover {
    cursor: hand;
    box-shadow: 0 0.4rem 0 darkslategray;
    transform: translateY(-0.1rem);
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: antiquewhite;
    color: darkolivegreen;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: chartreuse;
}

.incorrect {
    background-color: darkred;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}